
<!--<div class="media-grid">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>-->
<div class="container">
	<ngb-alert type="success">An alert here!</ngb-alert>
	<div class="row media-grid">
		<div class="col-md-4 vertical-col-2-half">
			<div style="background-color: #efaff7; color:white;" align="center">Some Content</div>
		</div>
		<div class="col-md-4 vertical-col-2-half">
			<div style="background-color: pink; color:white;" align="center">Some Content</div>
		</div>
		<div class="col-md-4 vertical-col-2-half">
			<div style="background-color: brown; color:white;" align="center">Some Content</div>
		</div>
	</div>
	<div class="row media-grid">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12 vertical-col-2"><div style="background-color: red;">1</div></div>
				<div class="col-md-12 vertical-col-1"><div style="background-color: yellow;">2</div></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 vertical-col-2"><div style="background-color: blue;">2</div></div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6 vertical-col-1"><div style="background-color: black;">1</div></div>
						<div class="col-md-6 vertical-col-1"><div style="background-color: brown;">2</div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12 vertical-col-1"><div style="background-color: orange;">3</div></div>
				<div class="col-md-12 vertical-col-2"><div style="background-color: green;">4</div></div>
			</div>
		</div>
	</div>
	<a routerLink="/page2" routerLinkActive="active" class="btn btn-lg btn-primary">Ir a page2</a>
</div>